
@{
    ViewBag.Title = "Services";
}

<section id="ourServices">
    <div class="container servicesContainer">
        <div class="row services">
            <div class="col-lg-12">
                <div class="ourServicesTitle text-center mt-2 mb-5">

                    <h3 class="  ">Our Services</h3>

                </div>
            </div>
        </div>
        <div class="row servicesBack ">





            <div class="col-lg-4 text-center ">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv Web App.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Web Applications</h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                       
                    

                        <a href='@Url.Action("webApplications", "Home")' class="btn ">Read More</a>

                        @*<a  onclick="location.href='@Url.Action("webApplications", "Home")'" class="btn ">Read More</a>*@
                        @*<button type="button" class="btn" onclick="location.href='@Url.Action("webApplications","Home")'">Read </button>*@
    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv Desk App.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Desktop Applications</h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                        <a href='@Url.Action("desktopApplications", "Home")' class="btn ">Read More</a>
                        @*<a href="#" class="btn btn-primary ">Read More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv And App.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Android Applications</h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                        <a href='@Url.Action("androidApplications", "Home")' class="btn ">Read More</a>
                        @*<a href="#" class="btn btn-primary ">Read More</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-center ">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv Digi App.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Digital Solutions</h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                         <a href='@Url.Action("digitalSolutions", "Home")' class="btn ">Read More</a>
                        @*<a href="#" class="btn btn-primary ">Read More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv Graphic Designin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Graphics Designing </h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                        <a href='@Url.Action("graphicDesigning", "Home")' class="btn ">Read More</a>
                        @*<a href="#" class="btn btn-primary ">Read More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card cardDiv">
                    <img src="~/img/Services Img/Serv Digi Marketing.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Digital  Marketing</h5>
                        <p class="card-text text-left text-justify">
                            Some quick example text to build on the
                            card title and make up the bulk
                            of the card's content.
                        </p>
                        <a href='@Url.Action("digitalMarketing", "Home")' class="btn ">Read More</a>
                        @*<a href="#" class="btn btn-primary ">Read More</a>*@
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>

<section id="hurryUp">

    <div class="container justify-content-center mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg justify-content-center">

                <div class="hurryUpText justify-content-center text-center">
                    <h4 class="text-center">
                        Hurry up! Contact us today and get
                    </h4>
                    <h1 class="text-center">
                        FREE FIRST CONSULTATION
                    </h1>
                    <a href="#" class="btn text-center">READY TO GET STARTED ?</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="blank"></section>
<section id="portfolio" class="mt-5">
    <div class="container">
        <div class="ourPortfolioTitle text-center mt-2 mb-1">

            <h3 class="  ">Our Portfolio</h3>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg col-md">
                <ul class="mt-4 justify-content-center">
                    <li class="list active" data-filter="All">All</li>
                    <li class="list" data-filter="Desktop_Apps">Desktop Apps</li>
                    <li class="list" data-filter="web_Apps">Web Apps</li>
                    <li class="list" data-filter="logo_Design">Logo Design</li>
                    <li class="list" data-filter="bCard_Design">Business Card</li>
                    <li class="list" data-filter="social_Media">Social Media</li>

                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-sm-11">
                <div class="product justify-content-center text-center">

                    <div class="itemBox Desktop_Apps text-center ">
                        <img class="imgRounded" src="/img/portfoilo_img/Desktop1.png" alt="">
                    </div>
                    <div class="itemBox web_Apps  text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web1.jpg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo1.png" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard1.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social1.jpg" alt="">
                    </div>

                    <div class="itemBox Desktop_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Desktop2.jpg" alt="">
                    </div>
                    <div class="itemBox web_Apps  text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web2.jpg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo2.png" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard2.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social2.png" alt="">
                    </div>

                    <div class="itemBox Desktop_Apps  text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Desktop3.jpg" alt="">
                    </div>
                    <div class="itemBox web_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web3.jpeg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo3.jpg" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard3.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social3.jpg" alt="">
                    </div>

                    <div class="itemBox Desktop_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Desktop4.png" alt="">
                    </div>
                    <div class="itemBox web_Apps  text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web4.jpg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo4.png" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard4.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social4.jpg" alt="">
                    </div>

                    <div class="itemBox Desktop_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Desktop4.png" alt="">
                    </div>
                    <div class="itemBox web_Apps  text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web4.jpg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo4.png" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard4.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social4.jpg" alt="">
                    </div>



                    <div class="itemBox Desktop_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Desktop5.jpeg" alt="">
                    </div>
                    <div class="itemBox web_Apps text-center ">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Web5.jpg" alt="">
                    </div>
                    <div class="itemBox logo_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Logo5.png" alt="">
                    </div>
                    <div class="itemBox bCard_Design text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/BCard5.jpg" alt="">
                    </div>
                    <div class="itemBox social_Media text-center">
                        <img class="imgRounded"
                             src="/img/portfoilo_img/Social5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
